.icon{
    margin:0;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border:none;
    background-color: var(--theme-color);
}

#inputIDcontainer{
    margin-top: 10px;
}
#inputPWcontainer{
    margin-top: 20px;
}

#loginButton{
    margin-top: 20px;
}

#seperateLine{
    width: 95%;
    border: 1px solid black;
    margin-top:15px;
}

/* 계정 옵션 파트(회원가입버튼, ID/PW 찾기 버튼) */
#optionContainer{
    /* 속성부여 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    /* 디자인 */
    width: var(--container-size-width);
    height: fit-content;
}

#signUpButton{
    margin-top:15px;   
}

/* 계정 옵션 디자인(ID,PW찾기 */
#findingOption{
    /* 속성부여 */
    display: flex;
    justify-content: space-between;

    /* 디자인 */
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.findingButton{
    width: fit-content;
    height:30px;
    font-size:12px;
    background-color: rgba(0,0,0,0);
    border: none;
}
