:root{
    --background-color: #edebeb;
    --input-container-color: #f3f3f3;
    --theme-color: #fef8d9;
    --placeholder-color: #8d8383;
    --error-border-color: #ff5656;
    --error-background-color: #ffd0d0;


    /* 사이즈 */
    --frame-size-width: 440px;
    --frame-size-height: 340px;
    --container-size-width: 350px;
    --container-size-height: 50px;
    --border-radius-input: 10px;
}   

/* 입력값 프레임 */
.inputContainer{
    /* 속성부여 */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
    
    /* 디자인 */
    width: var(--container-size-width);
    height: var(--container-size-height);
    border-radius:var(--border-radius-input);
    border:none;
    background-color: var(--input-container-color);
}

.icon{
    margin:0;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    border:none;
    background-color: var(--theme-color);
}


input{
    /* 속성부여 */
    display: flex;
    align-items: center;

    /* 디자인 */
    flex-grow:1;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border:none;
    margin:0;
    text-indent: 10px;
    text-size-adjust: 36px;
}
input::placeholder{
    color: var(--placeholder-color);
    font-size: 20px;
}

input.valid{
    background-color: initial;
}

input:focus{
    background-color: initial;
}

input:invalid:focus{
    background-color:var(--error-background-color);
}



/* 버튼 디자인(로그인, 회원가입) */
button{
    /* 속성부여 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* 디자인 */
    width: var(--container-size-width);
    height: var(--container-size-height);
    border-radius: var(--border-radius-input);
    border:none;
    background-color: var(--theme-color);
    font-size: 24px;
}