:root{
    --background-color: #edebeb;
    --input-container-color: #f3f3f3;
    --theme-color: #fef8d9;
    --placeholder-color: #8d8383;
    --error-color: #ff5656;

    /* 사이즈 */
    --frame-size-width: 440px;
    --frame-size-height: 340px;
    --container-size-width: 350px;
    --container-size-height: 50px;
    --border-radius-input: 10px;
}   

body{
    /* 속성부여 */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    /* 디자인 */
    height: 600px;
    background-color: var(--background-color);
}

/* 제목 */
#title{
    width: 100%;
    font-size: 58px;
    text-align: center;
    color: black;
    
}

/* 로그인 프레임 */
#bodyFrame{
    /* 속성 부여 */
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* 디자인 */
    width: var(--frame-size-width);
    height: var(--frame-size-height);
    padding:20px;
    background-color: white;
    border-radius: 20px;
}

