:root{
    /* 색깔 */
    --background-color: #edebeb;
    --input-container-color: #f3f3f3;
    --theme-color: #fef8d9;
    --placeholder-color: #8d8383;

    /* 사이즈 */
    --frame-size-width: 440px;
    --frame-size-height: 340px;
    --container-size-width: 350px;
    --container-size-height: 50px;
    --border-radius-input: 10px;
    --signup-frame-size-height: 440px;
    --border-radius-input: 10px;

}  

#bodyFrame{
    height: var(--signup-frame-size-height);
}


/* 부서 빛 직책 드롭다운 메뉴 스타일 */
#deptAndPosition{
    /* 속성 부여 */
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    
    /* 디자인 */
    width: var(--container-size-width);
    height: var(--container-size-height);
    border-radius: var(--border-radius-input);
    border:none;
    
}
.inputContainer{
    margin-bottom: 15px;
}

/* 드롭다운 메뉴 스타일 지정 */
.select{
    width: 45%;
    height:var(--container-size-height);
    border-radius: var(--border-radius-input);
    border:none;
    background-color: var(--input-container-color);
}

/* 이메일 입력 칸 */
#email{
    /* 속성 부여 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center;/ */
    
    /* 디자인 */
    height:var(--container-size-height);
    border-radius: var(--border-radius-input);
    margin-bottom: 15px;
    background-color: var(--input-container-color);
}

#inputEmail{
    width: 30%;
    height: var(--container-size-height);
    border:none;
    padding:0;
}