:root{
    --background-color: #edebeb;
    --input-container-color: #f3f3f3;
    --theme-color: #fef8d9;
    --placeholder-color: #8d8383;
    --background-color-sidemenu: #d9d9d9;

    --scheduler-body-size-width: 1610px;
}   

/* 웹 전체 바디 스타일 지정 */
body{
    /*속성부여*/
    display:flex;
    /* flex-wrap: wrap; */

    /*디자인*/
    width: 100%;
    height: 720px;
    background-color: white;
}

/* 사이드 메뉴 스타일 지정 */
nav{
    width:155px;
    height: 100%;
    background-color: var(--background-color);
    border:none;

    /*임시 설정*/
    border:1px solid black;
}

/* 스케쥴러 메인 바디 스타일 지정 */
#scheduler{
    /* 속성부여 */
    display: flex;
    flex-direction: column;


    /* 디자인 */
    width: 100%;
    height: 100%;
    /* 20241018 */
}

#header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */

    width:100%;
    height: 130px;
    border:none;
}

#yearAndMonthDisplay{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 80px;
    border:none;

    /* 임시 설정 */
    border:1px solid black;
}

#yearContainer{
    display: flex;
    justify-content: space-around;
    width: 130px;
    height: 100%;
    border:none;
    border:1px solid black;
}

.changeYearButton{
    width: 10px;
    height: 20px;
    background-color: #8d8383;
}

#schedulerMainFrame{
    width: 100%;
    height: 100%;
    background-color: #edebeb;
    border: 1px solid black;
}

#monthList{
    display: flex;
    text-align: center;
    height: 40px;
}

#sideMenuUnfolded{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 100%;
    background-color: var(--background-color-sidemenu);
}

#profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 200px;
    height: 300PX;
    background-color: white;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.infoContainer{
    width: 120px;
    height: 25px;
    text-align: center;
}

#infoFixButton{
    width:200px;
    height: 50px;
    border:none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--theme-color);
}