:root{
    /* 색상 */
    --background-color: #edebeb;
    --input-container-color: #f3f3f3;
    --theme-color: #fef8d9;
    --placeholder-color: #8d8383;
    --background-color-sidemenu: #d9d9d9;
    --daycontainer-stroke-color: #d9d9d9;
    --todoList-color-index: rgba(255, 165, 21, 0.3);
    --todoList-color-body: rgba(255, 165, 21, 0.14);
    --todoList-color-text: rgba(255, 165, 21, 1);
    --addtodoList-color-index: #d9d9d9;
    --addtodoList-color-body: #f3f3f3;
    --error-border-color: #ff5656;
    --error-background-color: #ffd0d0;
    
    /* 사이즈 */
    --scheduler-body-size-width: 1610px;
    --todoList-size-container-height: 45px;
}   

/* 웹 전체 바디 스타일 지정 */
body{
    /*속성부여*/
    display:flex;
    /* flex-wrap: wrap; */

    /*디자인*/
    width: 100%;
    /* height: 720px; */
    height: 100vh;

    padding:0;
    background-color: white;
}

/* 사이드 메뉴 스타일 지정 */
nav{
    width:155px;
    height: 100%;
    background-color: var(--background-color-sidemenu);
    border:none;

    /*임시 설정*/
    border:none;
    /* border:1px solid black; */
}

/* 스케쥴러 페이지 스타일 지정 */
#scheduler{
    /* 속성부여 */
    display: flex;
    flex-direction: column;

    /* 디자인 */
    width: 100%;
    height: 100%;
    /* 20241018 */
}
/* ---------------------------------------------------------------------------- */
/* 연도,월 표시  */
#header{
    /* 속성 */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    /* 디자인 */
    width:100%;
    height: 130px;
    border:none;
}

#yearAndMonthDisplay{
    /* 속성 */
    display: flex;
    justify-content: center;

    /* 디자인 */
    width: 100%;
    height: 80px;
    border:none;

    /* 임시 설정 */
    /* border:1px solid black; */
}

#yearContainer{
    /* 속성 */
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* 디자인 */
    width: 130px;
    height: 100%;
    border:none;
    font-size: 24px;
    margin-right: 30px;
    /* border:1px solid black; */
}

/* 연도 변경 버튼 공통 스타일 */
.changeYearButton{
    width: 10px;
    height: 20px;
    border: none;
    background-color: rgba(0,0,0,0);
    background-image: url(/scheduler_project/asset/icon/cross_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lastYearButton{
    transform: rotate(180deg);
}

#monthContainer{
    /* 속성 */
    display:flex;
    align-items: center;

    /* 디자인 */
    border:none;
    font-size: 36px;
    margin-right: 180px;
}
/* 월 변경 버튼 공통 스타일 */
#monthList{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border:none;
}

#monthChangeButton{
    width:30px;
    height:30px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: var(--addtodoList-color-body);
}

/* ---------------------------------------------------------------------------- */

#leftSideMenu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 사이드메뉴 활성화(비활성화) 버튼 */
.sideMenuButton{
    /* 속성 */
    align-self: flex-start;
    
    /* 디자인 */
    width: 40px;
    height: 40px;
    border:none;
    /* background-color: var(--background-color-sidemenu); */
    
    /* 임시 설정 */
    /* border:1px solid black; */
}

#menuUnfoldButton,#menuFoldButton{
    background-color: rgba(0,0,0,0);
    background-image: url("/scheduler_project/asset/icon/three_line_menu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logOutButton{
    background-color: rgba(0,0,0,0);
    background-image: url("/scheduler_project/asset/icon/logout.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

/* 사이드메뉴(펼쳐짐) 스타일 설정 */
#sideMenuUnfolded{
    /* 속성 */
    display:none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* 디자인 */
    width: 300px;
    height: 100%;
    border:none;
    background-color: var(--background-color-sidemenu);
}

#sideHeader{
    /* 속성 */
    display:flex;
    justify-content: space-between;
    flex-direction: row;

    /* 디자인 */
    width: 100%;

}

/* 프로필 이미지  */
#profileImg{
    margin:0;
    height: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:none;
    background-color: white;
}
/* 회원 정보 표시 칸 */
#profileContainer{
    /* 속성 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* 디자인 */
    width: 70%;
    height: 35%;
    padding-top: 20px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 80px;
}

/* 회원정보 표시 세부 설정 */
.infoContainer{
    width: 120px;
    height: 25px;
    text-align: center;
}

#displayID{
    font-size: 20px;
}

#displayEmail{
    width: 100%;
}

/* 정보 수정 버튼 */
#infoFixButton{
    width:100%;
    height: 50px;
    border:none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--theme-color);
}

/* 회원 탈퇴 버튼 */
#resignButton{
    width: fit-content;
    height: fit-content;
    border:none;
    font-size: 12px;
    background-color: rgba(0,0,0,0);
    margin-bottom: 20px;;
}

/* ---------------------------------------------------------------------------- */
/* 스케쥴러 스타일 설정 */

#schedulerMainFrame{
    /* 속성 */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    /* 디자인 */
    width: 100%;
    /* height: 100%; */
    height:fit-content;
    background-color: #edebeb;
    border:none;
    padding:0;
    /* margin-left: 10px; */
    /* border: 1px solid black; */
}

/*  */

/* 날짜 칸 스타일 설정 */
.importDayContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    box-sizing: border-box;
    /* width: 200px;*/
    height: 120px;
    width: 14.2%;
    /* height: 20%; */
    background-color: white;
    border:0.2px solid var(--daycontainer-stroke-color);
    padding:0;
    text-indent: 10px;
}
.totalTodo{
    width: 10px;
    height: 10px;
    margin-right: 15px;
    height: fit-content;
    color : var(--error-border-color)
}

/* 팝업창 스타일 설정 */
.modal{
    /* 속성 */
    position: absolute;
    top: 0;
    left: 0;

    /* 디자인 */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

/* 일별 일정 표시 팝업창, 정보 수정 팝업창 표시 상태 초기 설정 */
/* #todoList{} */
#infoFix{
    display: none;
}

/* 팝업창 스타일 설정 */
#popupContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

/* 정보 수정 팝업창 스타일 설정 */
#bodyFrame{
    /* 속성 */
    position: absolute;
    top: 50%;
    left: 50%;
    
    /* 디자인 */
    transform: translate(-50%,-50%);
}

/* 정보 수정 팝업창 닫기 버튼 설정 */
#returnButton{
    /* 속성 */
    position:absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%);

    /* 디자인 */
    width: 80%;
    background-color: rgba(0,0,0,0);
}

/* ---------------------------------------------------------------------------- */
/* 일정 표시 팝업 디자인 */
/* 일정표시 팝업 헤더 */
#popupHeader{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    font-size: 20px;;
}

.todoListUp{
    height: auto;
    margin-bottom:60px;
}


/* #leaderListUp{
    display:none;
} */
 
#listHeader{
    display:flex;
    align-items: center;
    color: var(--todoList-color-text);
    
    width: 100%;
    height: 50px;
    text-indent: 10px;
    border-bottom: 1px solid var(--daycontainer-stroke-color);
    background-color: white;
}
#listBody{
    overflow:scroll;
    overflow-x: hidden;
    height:100%;
}
.todoListContent{
    /* 속성 */
    display: flex;
    align-items: center;
    position: relative;

    /* 디자인 */
    width: 100%;
    height: var(--todoList-size-container-height);
    margin-top: 5px;
    border:none;
    border-radius: 10px;
    background-color: var(--todoList-color-body);
}

.index{
    /* 속성 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 디자인 */
    height: var(--todoList-size-container-height);
    aspect-ratio: 1/1;
    background-color: var(--todoList-color-index);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight:bold;
    font-size: 20px;
}


.timeDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* 디자인 */
    width: 25%;
    height: var(--todoList-size-container-height);
    font-size: 20px;
    border-right: 1px solid var(--todoList-color-index);
}

.todoDisplay{
    /* 속성 */
    display: flex;
    align-items: center;
    
    /* 디자인 */
    font-size: 20px;
    text-indent: 10px;
}

#addTodoList{
    background-color: var(--addtodoList-color-body);
}

#addIndex{
    background-color: var(--addtodoList-color-index);
}

#inputTime{
    padding: 0;
    width: 25%;
    border:none;
    border-right: 1px solid var(--addtodoList-color-index);
}

#inputTime::placeholder{
    text-indent: 0;
    text-align: center;
}


.optionContainer{
    display: none;
    /* display: flex; */
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    width: 80px;
    height: 40px;
    padding:0;
}


.optionButton{
    
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding:0;
}


#fixContent{
    margin-right: 10px;
    background-color: var(--addtodoList-color-body);
    background-image: url("/scheduler_project/asset/icon/pencil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    
}

#deleteContent{
    background-color: var(--error-border-color);
    background-image: url(/scheduler_project/asset/icon/delete-red-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

#viewOptionButton{
    display:hidden;
    width:80px;
    height:30px;
    border:1px solid black;
}